html{
    padding-top: 0px;
    margin-top: 0px;
}

body{
    margin: 0px;
}
.container{
    width: 1440px;
    height: 1700px;
    background-color: #f5e7c0;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    padding-top: 40px;
    padding-left: 180px;
    padding-right: 180px;
    


}
.column{
    display: flex;
    margin-top: 50px;
    padding-left: 45px;
    
}

.font{
    font-size: 24px;
    font-family: arial;
    color: #755800;
    padding-right: 30px;
    list-style: none;
    text-decoration: none;
}
.font:hover > ul {
	display:inherit;
}
.line{
    margin-top: 10px;
    border-bottom: 1px solid #755800;
    width: 1440px;
}

.background{
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 0%;
}
.box{
    width: 1140px;
    height: 66px;
    margin-left:150px;
    margin-right: 150px;
    line-height: 66px;
    border-top: 3px solid #755800;
    border-bottom: 3px solid #755800;
    text-align: center;
    font-family: Arial;
    margin-top: 50px;
    font-weight: bold;
    color: #4e391c;
    font-size: 36px;
}

.bigbox{
    margin-left: 247px;
    display: flex;
    font-family: arial;
    margin-top: 60px;
}

.box1{
    margin-left: 20px;
    

}
.box2{
    background-color: #f4d394;
    
    height: 80px;
    padding-left:40px;
}
.box3{
    background-color: #F5DDAA;
    width: 462px;
    height: 268px;
    margin: 0%;
}
.h1{

    line-height: 3;
    margin: 0%;
    font-size: 24px;
    color: #4E391C;
}
.h2{
    margin: 0%;
    font-size: 18px;
    font-weight: bold;
    color: #4E391c;
}
.p{
    font-size: 18px;
    font-family: arial;
    color: #755800
}
.h22{
    margin-left: 40px;
    margin-right: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.store{
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 60px;
    display: flex;
    list-style: none;
    text-decoration: none;
}
.stock{
    margin-right: 20px;
}
.amazing{
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
    color: #4e391c;
    background-color: #F5DDAA;
}
.amazing:hover{
    border-bottom: solid #4E391C;
    border-radius: 5px;
    background-color: #FFF;
}
.footer{
    padding-top: 50px;
    width: 1440px;
    height: auto;
    background-color: #ad8b58;
    font-family: arial;
    color: #fcDeB2;
    margin-left: auto;
    margin-right: auto;
}
.con{
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
    
}
.pp{
    margin: 0;
    padding: 0;
}
ul li a {
    color: #755800;
  
   text-decoration:none;
   display:block;
  }
  .font1{
	float:none;
	display:list-item;
	position: relative;
    font-size: 24px;
    font-family: arial;
    color: #755800;
    padding-right: 30px;
    list-style: none;
    text-decoration: none;
}

  .p{
      font-weight: bold;
  }

  .stone{
      border-radius: 20px;
  }
  .footop{
      display: flex;
      margin-left: 182px;
  }
  .logo2{
      margin-right: 43px;
  }
  .joinus{
      margin-top: 50px;
  }
  .join{
      font-weight: bold;
  }
  .email{
      margin-top: 5px;
      background-color: white;
      padding-right: 200px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 3px;
      border-radius: 5px;
      color: black;
  }
  .sign{
      font-weight: bold;
      margin-left: 15px;
      margin-top: 75px;
      color: #4E391C;
  }
  .signin{
      background-color: #fcDeB2;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      font-size: 15px;
  }
  .logobar{
      margin-left: 350px;
      margin-top: 70px;
  }
  .footline{
      border-bottom: solid #fcDeB2;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: 150px;
      margin-right: 150px;
  }
  .footbot{
      display: flex;
      margin-left: 150px;
      padding-bottom: 40px;
  }
  .res{
      margin-right: 150px;
  }
.resor{
    font-weight: bold;
    margin-bottom: 20px;
}


nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	}
nav ul li li{
    background-color: #fcDeB2;
}
nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
    background-color: #FFF;
    border-radius: 20px;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
.border:hover{
    border-bottom: solid #4E391C;
}

.wallet{
    margin-left: 400px;
    margin-top: 60px;
}

.wl{
    width: 80px;
    height: 35px;
}